.sectionLeft {
  float: left;
  width: 80%;
}

.sectionRight {
  float: right;
  width: 20%;
}

.sectionBottom{
  float: left;
}

#tradeButton {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}

#mangoStand {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}

#mangoFactory {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}

#mangoCorporation {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}

#mangoCity {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}


#mangoCountry {
  background-color: rgb(255, 195, 36);
  padding: 10px;
  font-size: 14px;
  font-family: roboto;
}

.scorecontainer{
  background-color: rgb(255, 195, 36);
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.imagecontainer img{
  position: relative;
  transition: all .1s ease-in-out;
}

.imagecontainer img:hover {
  transform: scale(1.10);
}

.imagecontainer img:active {
  transform: scale(0.99);
}

.store {
  background-color: rgb(255, 195, 36);
  transition: all .2s ease-in-out;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.store:hover {
  background-color: #ffea47;
  transition: all .2s ease-in-out;
}

.store #image {
  width: 25%;
}

.store img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.store #nameandcost p {
  margin: 0px;
  width: 100%;
}

.store #nameandcost p:first-of-type {
  font-size: 15px;
}

.store #amount {
  font-size: 25px;
  font-family: roboto;
  width: 15%;
}

body{
  background-image: url('bkg.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}
